In [3]:
import os
import json
import numpy
import datetime
import pandas as pd

import pymongo
from sqlalchemy import create_engine

In [13]:
host_name = "localhost"
ports = {"mongo" : 27017, "mysql" : 3306}

user_id = "lmarkwart"
pwd = "Password123"

atlas_cluster_name = "policekillings"
atlas_user_name = "laurenmarkwart"
atlas_password = "Langley123"

conn_str = {"local" : f"mongodb://localhost:27017/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.jeczt7v.mongodb.net"
}
print(conn_str['atlas'])
src_dbname = "police_killings"
dst_dbname = "police_killings2"

mongodb+srv://laurenmarkwart:Langley123@policekillings.jeczt7v.mongodb.net

In [14]:
def get_sql_dataframe(user_id, pwd, host_name, db_name, sql_query):
    '''Create a connection to the MySQL database'''
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@{host_name}/{db_name}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    
    '''Invoke the pd.read_sql() function to query the database, and fill a Pandas DataFrame.'''
    conn = sqlEngine.connect()
    dframe = pd.read_sql(sql_query, conn);
    conn.close()
    
    return dframe


def get_mongo_dataframe(user_id, pwd, host_name, port, db_name, collection, query):
    '''Create a connection to MongoDB, with or without authentication credentials'''
    if user_id and pwd:
        mongo_uri = 'mongodb://%s:%s@%s:%s/%s' % (username, password, host, port, db_name)
        client = pymongo.MongoClient(mongo_uri)
    else:
        conn_str = f"mongodb://{host_name}:{port}/"
        client = pymongo.MongoClient(conn_str)
    
    '''Query MongoDB, and fill a python list with documents to create a DataFrame'''
    db = client[db_name]
    dframe = pd.DataFrame(list(db[collection].find(query)))
    dframe.drop(['_id'], axis=1, inplace=True)
    client.close()
    
    return dframe


def set_dataframe(user_id, pwd, host_name, db_name, df, table_name, pk_column, db_operation):
    '''Create a connection to the MySQL database'''
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@{host_name}/{db_name}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    connection = sqlEngine.connect()
    
    '''Invoke the Pandas DataFrame .to_sql( ) function to either create, or append to, a table'''
    if db_operation == "insert":
        df.to_sql(table_name, con=connection, index=False, if_exists='replace')
        sqlEngine.execute(f"ALTER TABLE {table_name} ADD PRIMARY KEY ({pk_column});")
            
    elif db_operation == "update":
        df.to_sql(table_name, con=connection, index=False, if_exists='append')
    
    connection.close()

In [19]:
#print(conn_str['atlas'])

client = pymongo.MongoClient(conn_str["atlas"])
db = client[src_dbname]


data_dir = os.path.join(os.getcwd(), 'Midterm-project')

json_files = {"victim" : 'victims.json',
              "location" : 'location.json',
              "date" : 'dates.json',
              "incident_facts" : 'cause.json',
              "population_facts" : 'population.json'
             }

for file in json_files:
    #db.drop_collection(file)
    json_file = os.path.join(data_dir, json_files[file])
    with open(json_file, 'r') as openfile:
        json_object = json.load(openfile)
        file = db[file]
        result = file.insert_many(json_object)
        #print(f"{file} was successfully loaded.")

        
client.close()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Student\\OneDrive\\Documents\\DS-2002-002-main\\03-NoSQL\\Midterm-project\\victims.json'

In [ ]:
sql_victim = "SELECT * FROM police_killings.victim;"
df_victim = get_dataframe(user_id, pwd, host_name, src_dbname, sql_victim)
df_victim.head(2)

In [ ]:
sql_date = "SELECT * FROM police_killings.date;"
df_date = get_dataframe(user_id, pwd, host_name, src_dbname, sql_date)
df_date.head(2)

In [ ]:
sql_location = "SELECT * FROM police_killings.location;"
df_location = get_dataframe(user_id, pwd, host_name, src_dbname, sql_location)
df_location.head(2)

In [ ]:
sql_ftc = "SELECT * FROM police_killings.fact_table_complete;"
df_ftc = get_dataframe(user_id, pwd, host_name, src_dbname, sql_ftc)
df_ftc.head(2)

In [ ]:
query = {}
port = ports["mongo"]
collection = "victim"

df_victim = get_mongo_dataframe(None, None, host_name, port, src_dbname, collection, query)
df_victim.head(2)

In [ ]:
dataframe = df_victim
table_name = 'victim'
primary_key = 'victim_ID'
db_operation = "insert"

set_dataframe(user_id, pwd, host_name, dst_dbname, dataframe, table_name, primary_key, db_operation)

In [ ]:
sql_victim = "SELECT * FROM northwind_dw2.dim_suppliers;"
df_dim_suppliers = get_sql_dataframe(user_id, pwd, host_name, dst_dbname, sql_suppliers)
df_dim_suppliers.head(2)